// services
$emp-color:#fff;
.services {
	width:100%;
	padding:40px 0;
	background-color:#e2ac00;
	border-top:5px solid #b48900;
	.col-md-4 > .icon{
		color:#ffffff;
		background-color: #2dcc70;
		padding: 15px 20px;
		border-radius: 50%;
	}
	.row > .col-md-4 > p{
		color:$emp-color;
		font-family: Arial, sans-serif;
		font-size: 20px;
	}
}